<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <title>Get a Meme!</title>
</head>
<body>
    <div class="container">
        <h1>Get a Meme!</h1>
        <p>Select a category of meme:</p>
        </div>
        <a href="/randommeme/">Random Meme</a>
        <a href="/politicalmemes/">Political Memes</a>
        <a href="/cryptomemes/">Crypto Memes</a>
        <a href="/dogmemes/">Dog Memes</a>
        <a href="/catmemes/">Cat Memes</a>
</body>
</html>