<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='random_meme.css') }}">
    <title>Get a Meme!</title>
</head>
<body>
    <div class="container">
    <h1>Your meme!!</h1>
    <img src="{{meme_pic}}">
    <button onclick="location.reload()">New Meme</button>
    <p>Subreddit: /{{subreddit}}</p></div>
    <a href = "{{post_link}}">Link</a>
    </div>
</body>
</html>